<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<title>Insert title here</title>
</head>
<body>
<div ng-app="t1" ng-controller="c1">
	<input type="text" ng-model="f" /><br />
	<input type="text" ng-model="l" /><br />
	{{f+"+"+u()}}<br />
</div>

<div id="a2" ng-app="a2" ng-controller="c2">
	<input type="text" ng-model="f2" /><br />
	<input type="text" ng-model="l2" /><br />
	{{f2+" "+l2}}
</div>

<script>
var a = angular.module("t1",[]);
a.controller("c1", function($scope){
	$scope.f = "w";
	$scope.l = "pj";
	$scope.u = function(){
		return "wpj";
	};
});

var b = angular.module("a2",[]);
angular.element(document).ready(function(){
	angular.bootstrap(document.getElementById("a2"),["a2"]);
});
b.controller("c2", function($scope){
	$scope.f2 = "wpj2";
	$scope.l2 = "wpj34";
});
</script>

</body>
</html>